<!-- templates/base_nav_items.html -->
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Home</a>
    </li>
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/user/'|add:request.user.username|add:'/dashboard/' %}active{% endif %}" href="{% url 'userprofiles:dashboard' username=request.user.username %}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/user/'|add:request.user.username|add:'/' %}active{% endif %}" href="{% url 'userprofiles:profile' username=request.user.username %}">Profile</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
            <form id="logout-form" action="{% url 'accounts:logout' %}" method="post" style="display: none;">
                {% csrf_token %}
            </form>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/account/login/' %}active{% endif %}" href="{% url 'accounts:login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/account/register/' %}active{% endif %}" href="{% url 'accounts:register' %}">Register</a>
        </li>
    {% endif %}
</ul>