{% extends 'base.html' %}
{% load form_tags %}

{% block title %}
    Edit Profile
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-lg bg-secondary bg-gradient" style="--bs-bg-opacity: .3;">
                <div class="card-header text-center bg-success-subtle text-black-50">
                    <h2>Edit Profile</h2>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row mb-3">
                            <label for="{{ form.username.id_for_label }}" class="col-sm-3 col-form-label">{{ form.username.label }}</label>
                            <div class="col-sm-9">
                                {{ form.username.as_widget }}
                                {{ form.username.errors }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="{{ form.email.id_for_label }}" class="col-sm-3 col-form-label">{{ form.email.label }}</label>
                            <div class="col-sm-9">
                                {{ form.email.as_widget }}
                                {{ form.email.errors }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="{{ form.first_name.id_for_label }}" class="col-sm-3 col-form-label">{{ form.first_name.label }}</label>
                            <div class="col-sm-9">
                                {{ form.first_name.as_widget }}
                                {{ form.first_name.errors }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="{{ form.last_name.id_for_label }}" class="col-sm-3 col-form-label">{{ form.last_name.label }}</label>
                            <div class="col-sm-9">
                                {{ form.last_name.as_widget }}
                                {{ form.last_name.errors }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="{{ form.bio.id_for_label }}" class="col-sm-3 col-form-label">{{ form.bio.label }}</label>
                            <div class="col-sm-9">
                                {{ form.bio.as_widget }}
                                {{ form.bio.errors }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="{{ form.birth_date.id_for_label }}" class="col-sm-3 col-form-label">{{ form.birth_date.label }}</label>
                            <div class="col-sm-9">
                                {{ form.birth_date.as_widget }}
                                {{ form.birth_date.errors }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="{{ form.profile_picture.id_for_label }}" class="col-sm-3 col-form-label">{{ form.profile_picture.label }}</label>
                            <div class="col-sm-9">
                                {{ form.profile_picture.as_widget }}
                                {{ form.profile_picture.errors }}
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-block">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}